body {
    font-family: "American Typewriter"  ;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: darkslateblue;
}

.todo-box_bg_gray {
    background: #f5f5f5;
}

.todo-box__input {
    border: lightblue solid 2px;
    border-radius: 25px;
    box-shadow: 1px 1px 4px lightblue inset, 2px 2px 4px lightblue;
    outline: none;
    padding-left: 15px;
    height: 23px;
    width: 300px;
    font: inherit;
    color: inherit;
}

.todo-box__button {
    margin-right: 5px;
    margin-left: 5px;
    width: 130px;
    height: 30px;

    text-align: center;
    font: inherit;
    font-size: 15px;
    font-weight: bold;

    background: lightblue;
    color: darkgray;
    border: lightblue solid 2px;
    border-radius: 25px;
    outline: none;
}

.todo-box__add-todo {
    margin: 100px 35% 30px;
    font: inherit;
    color: inherit;
    height: 30px;
    width: 30%;
}

.todo-box__item {  /* TODO: расположить содержимлое посередине */
    list-style-type: none; /* Убираем маркеры */
    /*position: relative;*/
    margin: 0px;
}

.todo-box__label .todo-box__text {
    display: inline-block;
}

.completed + .todo-box__text {
    text-decoration: line-through;
}

hr {
    margin: 10px;
}

.todo-box__label {
    /*position: absolute;*/
    /*clip: rect(5px, auto, auto, auto);*/
    background-image: url('checkbox.png');
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-position-y: 5px; /* нужно немного обрезать картинку и картинка загружается с опозданием*/
    padding-left: 30px;
}

.todo-box__label.completed { /* completed ставится на checkbox, а менять position надо у label */
    background-position-x: 2px;
    background-position-y: -15px;
}


.todo-box__checkbox {
    display: none;
}
