body {
    font-family: "American Typewriter"  ;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: darkslateblue;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

label > p, label > input[type='checkbox'] {
    display: inline-block;
}

/*input[type='checkbox']:checked + p {*/
    /*color: gray;*/
    /*text-decoration: line-through;*/
    /*font-weight: normal;*/
/*}*/

.finished p {
    color: gray;
    text-decoration: line-through;
    font-weight: normal;
}

p {
    padding: 5px;
}

button {
    margin-right: 5px;
    margin-left: 5px;
    width: 130px;
    height: 30px;

    text-align: center;
    font: inherit;
    font-size: 15px;
    font-weight: bold;

    background: lightblue;
    color: darkgray;
    border: lightblue solid 2px;
    border-radius: 25px;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

footer li {
    display: inline;
}

.todo__text {
    color: inherit;
}


.add-todo__input {
    margin-top: 100px;
    width: 470px;
    height: 30px;
    border: lightblue solid 2px;
    border-radius: 25px;
    font: inherit;
    color: inherit;
    padding-left: 15px;
}

.add-todo__input:focus,
.todo__input:focus,
button:focus {
    outline: none;
    border: lightblue solid 2px;
    border-radius: 25px;
    box-shadow: 1px 1px 4px lightblue inset, 2px 2px 4px lightblue;
    outline: 0 none;
}

.todo__input {
    margin-top: 10px;
    margin-left: 10px;
    width: 270px;
    height: 20px;
    border: lightblue solid 2px;
    border-radius: 25px;
    font: inherit;
}

.todo__checkbox {

}


.todo__button_edit {

}

.todo__button_delete {

}

.todo__button_save {

}
